#module-filter-update-status-form {
  margin-bottom: 1.5em;
}

.patchinfo-excluded-modules {
  clear: right;
  margin: 1.5em 0;
  padding: 5px;
  border: 2px solid #f00;
  background-color: #fcc;
}

.patchinfo-patches {
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #f00;
  background-color: #fcc;
}

.patchinfo-patches-title {
  text-transform: uppercase;
  font-weight: bold;
}

#update-manager-update-form .patchinfo-patches {
  margin-top: 10px;
}
